<h1>Listing columns</h1>

<table>
  <tr>
    <th>Note</th>
    <th>Percent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @columns.each do |column| %>
  <tr>
    <td><%= column.note %></td>
    <td><%= column.percent %></td>
    <td><%= link_to 'Show', column %></td>
    <td><%= link_to 'Edit', edit_column_path(column) %></td>
    <td><%= link_to 'Destroy', column, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Column', new_column_path %>
