<p id="notice"><%= notice %></p>

<p>
  <b>Note:</b>
  <%= @column.note %>
</p>

<p>
  <b>Percent:</b>
  <%= @column.percent %>
</p>

<p>
  <b>Student:</b>
  <%= @column.student_id %>
</p>


<%= link_to 'Edit', edit_column_path(@column) %> |
<%= link_to 'Back', columns_path %>
