<p id="notice"><%= notice %></p>

<p>
  <b>Row:</b>
  <%= @cell.row %>
</p>

<p>
  <b>Col:</b>
  <%= @cell.col %>
</p>

<p>
  <b>Contents:</b>
  <%= @cell.contents %>
</p>


<%= link_to 'Edit', edit_cell_path(@cell) %> |
<%= link_to 'Back', cells_path %>
